{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<div class="justify-content-center container-fluid contacts">
     {% comment %} 
    <div class="row justify-content-center mt-5 contacts__row">
         <h3>Board Officers</h3>
         <div class="justify-content-center">
             <img src="{% static 'img/clarence_richardson.jpeg' %}" class="img_board" />
            
             <h5>President</h5>
             <p>Clarence Richardson</p>
         </div>
              {% endcomment %}
        <h1>WPY Directors & Contacts of Staff 2021-2022</h1>
        <div class="row justify-content-center mt-5 contacts__row">
            <h3>Board Officers</h3>
        
            <div class="col-md-3 col-sm-3 text-center" >
                        <img src="{% static 'img/clarence_richardson.jpeg' %}" class="img_board" />

            <h5>President</h5>
             <h6>Clarence Richardson</h6>

            </div>
            <div class="col-md-3 col-sm-3 text-center" >
                        <img src="{% static 'img/anne_mikulski.jpeg' %}" class="img_board" />

            <h5>Vice President</h5>
             <h6>Anne Mikulski</h6>

            </div>
            
        </div>
        <div class="row justify-content-center mt-5 contacts__row">
            <h3>Board Members</h3>
        
            <div class="col-md-3 col-sm-3 text-center" >
                        <img src="{% static 'img/ahsan-alam-crop-u191266.jpeg' %}" class="img_board__member" />

            <h5>Symmetric Enterprise Solutions</h5>
             <h6>Ahsan Alam</h6>

            </div>
            <div class="col-md-3 col-sm-3 text-center" >
                        <img src="{% static 'img/julee_bolg.jpeg' %}" class="img_board__member" />

            <h5>Children's Hospital Boston at Waltham</h5>
             <h6>Julee Bolg</h6>

            </div>
            <div class="col-md-3 col-sm-3 text-center" >
                        <img src="{% static 'img/contance_braceland.jpeg' %}" class="img_board__member" />

            <h5>Watertown Savings Bank</h5>
             <h6>Constance Braceland</h6>

            </div>
            <div class="col-md-3 col-sm-3 text-center" >
                        <img src="{% static 'img/terry_eagan.jpeg' %}" class="img_board__member" />

            <h5>Patio Records</h5>
             <h6>Terry Eagan</h6>

            </div>
            
        </div>
        <div class="row justify-content-center mt-5 contacts__row">
            <h3>Staff</h3>
        
            <div class="col-md-3 col-sm-3 text-center" >
                        <img src="{% static 'img/kaytie_dowcett.jpeg' %}" class="img_board__staff" />

            <h5>Executive Director</h5>
             <h6>Kaytie Dowcett</h6>
             <h6>781-314-3367<h6>
                <a href = "mailto: kdowcett@walthampartnershipforyouth.org ">Email: kdowcett </a>
            </p>
            

            </div>
            <div class="col-md-3 col-sm-3 text-center" >
                        <img src="{% static 'img/donna-mcnamara.jpeg' %}" class="img_board__staff" />

            <h5>Finance and Communications Officer</h5>
             <h6>Donna McNamara</h6>
             <h6>781-314-3031<h6>
                <a href = "mailto: donna@walthampartnershipforyouth.org ">Email: donna</a>
            </p>
            

            </div>
            <div class="col-md-3 col-sm-3 text-center" >
                        <img src="{% static 'img/magali-garcia-pletsch.jpeg' %}" class="img_board__staff" />

            <h5>Operations Director:</h5>
             <h6>Magali Garcia-Pletsch</h6>
                <a href = "mailto: magali@walthampartnershipforyouth.org ">Email: kdowcett</a>
            </p>
            

            </div>
            <div class="col-md-3 col-sm-3 text-center" >
                        <img src="{% static 'img/medjine-lucien-headshot.jpeg' %}" class="img_board__staff" />

            <h5>Career Exploration and Training Program</h5>
             <h6>Medjine Lucien</h6>
         
                <a href = "mailto:medjine@walthampartnershipforyouth.org ">Email: medjine </a>
            </p>
            

            </div>
            <div class="col-md-3 col-sm-3 text-center" >
                        <img src="{% static 'img/ivy-watts.jpeg' %}" class="img_board__staff" />

            <h5>WPY Coalition Program</h5>
             <h6>Ivy Watts</h6>
         
                <a href = "mailto:ivy@walthampartnershipforyouth.org">Email: ivy</a>
            </p>
            

            </div>
            <div class="col-md-3 col-sm-3 text-center" >
                        <img src="{% static 'img/shanesha-christmas.jpeg' %}" class="img_board__staff" />

            <h5>WPY Coalition Program: Youth Leadership Coordinator</h5>
             <h6>Shanesha Christmas</h6>
         
                <a href = "mailto:shanesha@walthampartnershipforyouth.org">Email: shanesha</a>
            </p>
            

            </div>
            <div class="col-md-3 col-sm-3 text-center" >
                        <img src="{% static 'img/alexa-cuellar.jpeg' %}" class="img_board__staff" />

            <h5>Wraparound Waltham Program:Program Coordinator</h5>
             <h6>Alexa Cuellar</h6>
         
                <a href = "mailto:alexa@walthampartnershipforyouth.org ">Email: alexa</a>
            </p>
            

            </div>
            <div class="col-md-3 col-sm-3 text-center" >
                        <img src="{% static 'img/sandra-canas.jpeg' %}" class="img_board__staff" />

            <h5>Wraparound Waltham Program:

Community Resource Navigator</h5>
             <h6>Sandra Cañas</h6>
         
                <a href = "mailto:sandra@walthampartnershipforyouth.org ">Email: sandra</a>
            </p>
            

            </div>
            
            
        </div>
  
            
        
     </div>
       
</div>
{% endblock content %}
