{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid explore">
     <h1>Announcements, Upcoming Events, & Opportunities</h1>
    <div class="row mt-5 explore__row">
        

         <h3>Upcoming Events
             
            <a href="#" class="readmore"><b>Read More</b> <i class="fas fa-angle-double-right"></i>

</a></h3>
        <div class="col-md-4 col-sm-3 explore__event" >
            <h5><b>Save the Date! 2022 Partnership Recognition Breakfast</b></h5>
            <h6>April 7, 2022, from 7:30 - 9:00 am</h6>
            <p> <img src="{% static 'img/breakfast.png' %}" class="explore__img">For over 30 years Waltham Partnership for Youth has aligned the talent, energy, and resources of community stakeholders to the needs of children and teens. Join us to hear directly from young people about the ways in which collective action can transform lives today while working to build more equitable systems for tomorrow. Watch for announcements on this year’s Keynote Speaker and the Community Impact Award recipient. Registration will open soon. Contact Kaytie at <a href = "mailto: kdowcett@walthampartnershipforyouth.org ">kdowcett@walthampartnershipforyouth.org </a>to sponsor this event.</p>
           
        </div>
        <div class="col-md-4 col-sm-3 explore__event" >
            <h5><b>Save the Date! 2022 Partnership Recognition Breakfast</b></h5>
            <h6>April 7, 2022, from 7:30 - 9:00 am</h6>
            <p><img src="{% static 'img/cereal.png' %}" class="explore__img">For over 30 years Waltham Partnership for Youth has aligned the talent, energy, and resources of community stakeholders to the needs of children and teens. Join us to hear directly from young people about the ways in which collective action can transform lives today while working to build more equitable systems for tomorrow. Watch for announcements on this year’s Keynote Speaker and the Community Impact Award recipient. Registration will open soon. Contact Kaytie at <a href = "mailto: kdowcett@walthampartnershipforyouth.org ">kdowcett@walthampartnershipforyouth.org </a>to sponsor this event.</p>
        </div>
        <div class="col-md-3 col-sm-3 explore__event" >
            <h5><b>Save the Date! 2022 Partnership Recognition Breakfast</b></h5>
            <h6>April 7, 2022, from 7:30 - 9:00 am</h6>
            <p><img src="{% static 'img/building.png' %}" class="explore__img">For over 30 years Waltham Partnership for Youth has aligned the talent, energy, and resources of community stakeholders to the needs of children and teens.  Watch for announcements on this year’s Keynote Speaker and the Community Impact Award recipient. Registration will open soon. Contact Kaytie at <a href = "mailto: kdowcett@walthampartnershipforyouth.org ">kdowcett@walthampartnershipforyouth.org </a>to sponsor this event.</p>
        </div>
    </div>
    <div class="row mt-5 explore__row">
         <h3>Recent Events
              <a href="#" class="readmore"><b>Read More</b> <i class="fas fa-angle-double-right"></i></a>
         </h3>
        <div class="col-md-3 col-sm-3 explore__event" >
            <h5><b>Tools For Stress: Self-Care for the Holidays and Beyond</b></h5>
            <h6>December 7, 2021</h6>
            <p><img src="{% static 'img/tools-for-stress.jpeg' %}" class="explore__img">The 2021 Youth Risk Behavior Survey (YRBS) report showed that 39% of high school students and 25% of middle school students experienced overwhelming stress in the last year. The WPY Coalition strives to provide tools for students and the community around self-care and mental wellness, like this event held on December 7th.</p>
        </div>
        <div class="col-md-4 col-sm-3 explore__event" >
            <h5><b>WPY Trivia for a Cause Gathers Community-Wide Support</b></h5>
            <h6>Nov. 3, 2021</h6>
            <p><img src="{% static 'img/trivia.jpeg' %}" class="explore__img">Our 2021 virtual Team Trivia event was a huge success! Participants, event sponsors, and other donors raised over $12,300 for youth served through WPY programs. Trivia host, Jeremy Lewis, led a down-to-the wire matchup between the Rockin’ Rotarians (Waltham Rotary Club) and STEAM-y Teachers (Waltham High School Teachers), who tied for first place in the Trivia competition. Boston Children’s Hospital at Waltham won Best Team Spirit, with their unwavering enthusiasm all evening. Big shout out to team Rosehorse and the Renegades (led by Bob Marcou), who took home the Team Fundraising Competition prize after raising almost $1,500 for WPY.</p>
        </div>
        <div class="col-md-4 col-sm-3 explore__event" >
            <h5><b>WPY Annual Meeting 2021</b></h5>
            <h6>October 13, 2021</h6>
            <p><img src="{% static 'img/sunset.png' %}" class="explore__img">WPY is on the move! Last spring we completed a three year strategic plan, with the help of pro bono consulting from Community Action Partners (CAP). Now we are putting that plan into action! After placing over 100 teens in internships in summer 2021, we are set to take our Career Exploration and Training Program to new heights. Wraparound Waltham, a collaborative led by WPY to support and welcome students and families who are new to the country, rallied throughout COVID and is building out an exciting new model. Watch the Annual Meeting recording here, and share in our vision for a city that creates a community of belonging for all Waltham youth.</p>
        </div>
    </div>
            
        
     </div>
       
</div>
{% endblock content %}
